//----------------------<<layout>>----------------------\\
.section{
  .container{
    display: flex;
    justify-content: space-between;
    .page-content{
      width: 700px;
    }
    @include laptop{
      flex-direction: column;
      .page-content{
        width: 100%;
      }
    }
  }
}

//----------------------<<title>>----------------------\\
.title {
  @include fira(bold);
  font-size: rem(35px);
  color: $black;
  transition: all .3s;
  @include mobile{
    text-align: center;
  }
}

//----------------------<<btn>>----------------------\\
.btn {
  @include fira(bold);
  display: inline-block;
  padding: rem(8px) rem(15px);
  border: rem(2px) solid #FFFFFF;
  border-radius: 25px;
  font-size: rem(14px);
  color: #FFFFFF;
  transition: all .3s;
  &:hover {
    background-color: #FFFFFF;
    color: $blue;
  }
}