.header {
  height: rem(80px);
  margin-bottom: rem(25px);
  box-shadow: 0 1px 3px 0 rgba(#000, .2);
  background: #FFFFFF;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.user__link {
  display: flex;
  align-items: center;
  color: $black;
  transition: all .3s;
  &:hover {
    color: $blue;
  }
}

.user__pic {
  overflow: hidden;
  width: rem(60px);
  height: rem(60px);
  margin-right: rem(20px);
  border: rem(1px) solid #fff;
  border-radius: 50%;
  img{
    @extend %img;
  }
}

.user__username {
  @include fira(regular);
  font-size: rem(18px);
  @include mobile {
    max-width: 120px;
  }
}

.contacts {
  @include fira(bold);
  position: relative;
  background: url('../assets/img/decor/dot.png') 0 bottom repeat-x;
  background-position-y: rem(22px);
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background: url('../assets/img/decor/dot-active.png') 0 bottom repeat-x;
    background-position-y: rem(22px);
    .contacts__link {
      color: $red;
    }
    .contacts__dropdown {
      left: 50%;
      opacity: 1;
      @include mobile {
        left: -365%;
      }
    }
  }
  @include mobile {
    background: none;
    &:hover {
      background: none;
      .contacts__link-ico {
        fill: $red;
      }
    }
    .contacts__link-ico {
      display: block;
    }
  }
}

.contacts__link {
  display: block;
  font-size: rem(18px);
  color: $blue;
  transition: all .3s;
}

.contacts__link-txt {
  @include mobile {
    display: none;
  }
}

.contacts__link-ico {
  display: none;
  width: 32px;
  height: 32px;
  fill: $blue;
  transition: fill .3s;
}

//----------------------<<dropdown>>----------------------\\
.contacts__dropdown {
  position: absolute;
  top: 175%;
  left: -9999px;
  z-index: 100;
  opacity: 0;
  max-width: 260px;
  margin-left: -140%;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: opacity .3s;
  &:before {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    display: block;
    height: 60px;
    content: "";
  }
  @include tablet {
    margin-left: -145%;
  }
  @include mobile {
    top: 140%;
    margin-left: -75%;
  }
}

.contacts__dropdown-item {
  padding: rem(15px);
  text-align: left;
  border-bottom: 1px solid #dedede;
  &:last-child {
    border-bottom: 0;
  }
}

.contacts__dropdown-link {
  @include fira(light);
  display: flex;
  align-items: baseline;
  font-size: rem(18px);
  color: $black;
  transition: all .3s;
  &:hover {
    color: $blue;
  }
  i {
    margin-right: rem(10px);
    color: $blue;
  }
}

.triangle {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: rem(30px);
  border: rem(15px) solid transparent;
  border-top: 0;
  border-bottom-color: #dedede;
  @include tablet {
    margin-left: rem(35px);
  }
  @include mobile {
    margin-left: rem(70px);
  }
  &:after {
    position: absolute;
    top: 1px;
    left: rem(-15px);
    display: block;
    border: rem(15px) solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
    content: "";
  }
}