.blog-article{
  @include fira();
  .blog__desc{
    p{
      margin-bottom: rem(20px);
    }
    a{
      color: $blue;
      transition: all .2s;
      &:hover{
        color: $red;
      }
    }
    ul{
      margin-bottom: rem(20px);
    }
    li {
      padding: 0 10px;
      margin-bottom: rem(10px);
      font-size: rem(16px);
      border-left: 2px solid $blue;
      &:first-child{
        margin-top: rem(10px);
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    h1{
      @include fira(bold);
      margin-bottom: rem(10px);
      font-size: rem(23px);
      color: $black;
      @include laptop{
        text-align: center;
      }
    }
    h2{
      @include fira(bold);
      margin-bottom: rem(10px);
      font-size: rem(20px);
      color: $black;
      @include laptop{
        text-align: center;
      }
    }
    h3{
      @include fira(bold);
      margin-bottom: rem(10px);
      font-size: rem(18px);
      color: $black;
      @include laptop{
        text-align: center;
      }
    }
    b{
      @include fira(bold);
    }
    i{
      @include fira(light);
    }
    blockquote{
      @include fira(light);
      padding: 0 rem(10px);
      margin: 0 rem(30px) rem(20px);
      border-left: 2px solid $red;
      font-style: italic;
    }
    img{
      display: block;
      margin: auto;
      max-width: 100%;
      margin-bottom: rem(20px);
      cursor: zoom-in;
    }
    .swiper-container{
      img{
        margin-bottom: 0;
      }
    }
    small{
      @include fira(light);
      display: block;
      padding: 0 rem(80px);
      font-size: rem(14px);
      text-align: center;
      margin-bottom: rem(20px);
      @include tablet{
        padding: 0;
      }
    }
    iframe{
      display: block;
      width: 100%;
      height: rem(390px);
      margin: auto;
      margin-bottom: rem(20px);
      @include tablet{
        height: rem(300px);
      }
      @include mobile{
        height: rem(230px);
      }
    }
  }
}

.blog-article__head{
  margin-bottom: rem(20px);
  .title{
    font-size: rem(25px);
  }
  .blog__subtitle{
    @include laptop{
      justify-content: center;
    }
  }
  @include laptop {
    text-align: center;
  }
}

