.career{
  @include fira();
  .title{
    margin-bottom: rem(20px);
    @include tablet{
      text-align: center;
    }
  }
}

.career__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include tablet{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.career__pic {
  position: relative;
  overflow: hidden;
  width: rem(220px);
  height: rem(220px);
  border-radius: 10px;
  img{
    @extend %img;
  }
  @include tablet{
    margin-bottom: rem(20px);
  }
}

.preloader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 64px;
  height: 64px;
  margin: auto;
  background: url("../assets/img/career/preloader.gif") center center no-repeat;
}

.career__list{
  width: rem(380px);
  .active{
    background-color: $blue;
    .career__title {
      color: #FFFFFF;
    }
    .career__occ {
      color: #FFFFFF;
    }
    .career__date {
      color: #FFFFFF;
    }
    .career__year {
      @include fira(bold);
      color: $blue;
      &:after {
        right: -25px;
        margin-top: -12px;
        border: 5px solid #94e0f2;
      }
    }
  }
}

.career__item {
  position: relative;
  padding: 15px 20px;
  margin-bottom: rem(20px);
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(#000, .2);
  background-color: rgb(255, 255, 255);
  transition: all .2s;
  &:before, &:after {
    display: block;
    position: absolute;
    left: -20px;
    width: 1px;
    background: rgba($greytext, 0.2);
    content: "";
    @include mobile {
      display: none;
    }
  }
  &:before {
    top: 0px;
    bottom: 50%;
    margin-bottom: 12px;
  }
  &:after {
    top: 50%;
    bottom: -20px;
    margin-top: 8px;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
  &:last-child {
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $blue;
    .career__title {
      color: #FFFFFF;
    }
    .career__occ {
      color: #FFFFFF;
    }
    .career__date {
      color: #FFFFFF;
    }
    .career__year {
      @include fira(bold);
      color: $blue;
      &:after {
        right: -25px;
        margin-top: -12px;
        border: 5px solid #94e0f2;
      }
    }
  }
}

.career__link{
  display: block;
}

.career__title {
  font-size: rem(21px);
  color: $greytext;
  transition: all .2s;
}

.career__occ, .career__date {
  @include fira(light);
  font-size: rem(18px);
  color: $greytext;
  transition: all .2s;
}

.career__year {
  @include fira(light);
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  margin-right: 35px;
  line-height: 14px;
  color: $grey;
  transition: all .2s;
  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: -20px;
    width: 10px;
    height: 10px;
    margin-top: -7px;
    border-radius: 50%;
    background: $blue;
    content: "";
  }
  @include mobile {
    display: none;
  }
}

