.career {
  @extend %clearfix;
  @include fira();
  margin-left: rem(20px);
  @include laptop {
    margin-left: 0;
  }
}

.career__left {
  float: left;
  width: rem(290px);
  @include tablet {
    width: 100%;
    text-align: center;
  }
}

.career__pic {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: rem(220px);
  height: rem(220px);
  border-radius: 9px;
}

.preloader{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/images/career/preloader.gif") center center no-repeat;
  margin: auto;
  width: 64px;
  height: 64px;
  display: none;
}

.career__pic-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.career__right {
  float: right;
  width: rem(400px);
  margin-top: rem(65px);
  @include tablet {
    width: 100%;
    margin-top: 20px;
  }
}

.career__list{
  .active{
    .career__block{
      background-color: $blue;
      .career__title {
        color: #fff;
      }
      .career__occ {
        color: #fff;
      }
      .career__date {
        color: #fff;
      }
      .career__year {
        @include fira(bold);
        color: $blue;
        &:after {
          position: absolute;
          top: 50%;
          right: -25px;
          z-index: 1;
          width: 10px;
          height: 10px;
          margin-top: -12px;
          border: 5px solid #94e0f2;
          border-radius: 50%;
          background: $blue;
          content: "";
        }
      }
    }
  }
}

.career__item {
  margin-bottom: rem(20px);
  text-align: right;
  &:first-child {
    .career__block {
      &:before {
        display: none;
      }
    }
  }
  &:last-child {
    .career__block {
      &:after {
        display: none;
      }
    }
  }
  @include tablet {
    margin-left: rem(72px);
    text-align: left;
  }
  @include mobile {
    margin-left: 0;
  }
}

.block__link{
  display: block;
  outline: none;
  text-decoration: none;
}

.career__block {
  display: inline-block;
  position: relative;
  width: rem(380px);
  padding: 15px 20px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(#000, .2);
  background-color: rgb(255, 255, 255);
  transition: all .2s;
  &:before, &:after {
    display: block;
    position: absolute;
    left: -20px;
    width: 1px;
    background: rgba($greytext, 0.2);
    content: "";
    @include mobile {
      display: none;
    }
  }
  &:before {
    top: 0px;
    bottom: 50%;
    margin-bottom: 12px;
  }
  &:after {
    top: 50%;
    bottom: -20px;
    margin-top: 8px;
  }
  &:hover {
    cursor: pointer;
    background-color: $blue;
    .career__title {
      color: #fff;
    }
    .career__occ {
      color: #fff;
    }
    .career__date {
      color: #fff;
    }
    .career__year {
      @include fira(bold);
      color: $blue;
      &:after {
        position: absolute;
        top: 50%;
        right: -25px;
        z-index: 1;
        width: 10px;
        height: 10px;
        margin-top: -12px;
        border: 5px solid #94e0f2;
        border-radius: 50%;
        background: $blue;
        content: "";
      }
    }
  }
  @include tablet {
    width: 100%;
  }
}

.career__title {
  font-size: rem(21px);
  color: $greytext;
  transition: all .2s;
}

.career__occ, .career__date {
  @include fira(light);
  font-size: rem(18px);
  color: $greytext;
  transition: all .2s;
}

.career__year {
  @include fira(light);
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -7px;
  margin-right: 35px;
  line-height: 14px;
  color: $grey;
  &:after {
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin-top: -7px;
    border-radius: 50%;
    background: $blue;
    content: "";
  }
  @include mobile {
    display: none;
  }
}

