.content {
  .container {
    @extend %clearfix;
  }
}

//----------------------<<sidebar>>----------------------\\
.sidebar {
  float: left;
  @include laptop {
    float: none;
  }
}

.nav{
  width: rem(215px);
  @include laptop {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.nav__item {
  padding: rem(10px) rem(20px);
  border-right: 5px solid transparent;
  @include laptop {
    display: inline-block;
    padding: rem(10px);
    border: none;
    vertical-align: middle;
  }
}

.nav__item_active {
  border-right: rem(5px) solid $blue;
  .nav__link{
    color: $blue;
  }
  @include laptop {
    border: none;
  }
}

.nav__link {
  @include fira(bold);
  display: block;
  text-decoration: none;
  text-align: right;
  font-size: rem(18px);
  color: $black;
  &:hover {
    @include fira();
    color: $blue;
  }
  &:active {
    @include fira(bold);
    color: $blue;
    border-color: $blue;
  }
}

//----------------------<<about>>----------------------\\
.page-content {
  float: right;
  width: rem(725px);
  @include laptop {
    float: none;
    width: 100%;
  }
}

.about {
  @extend %clearfix;
}

.about__left {
  float: left;
  width: rem(315px);
  text-align: center;
  @include laptop {
    width: rem(200px);
  }
  @include mobile {
    float: none;
    width: auto;
  }
}

.about__pic {
  display: inline-block;
  overflow: hidden;
  width: rem(220px);
  height: rem(220px);
  border: rem(3px) solid #fff;
  border-radius: 50%;
  @include laptop {
    max-width: rem(195px);
    max-height: rem(195px);
  }
  @include tablet {
    max-width: rem(170px);
    max-height: rem(170px);
  }
  @include mobile {
    min-width: rem(140px);
    min-height: rem(140px);
  }
}

.about__pic-avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.about__right {
  float: right;
  width: rem(385px);
  @include laptop {
    width: rem(480px);
  }
  @include tablet {
    width: rem(320px);
  }
  @include mobile {
    width: auto;
  }
}

.title {
  @include fira(bold);
  margin-bottom: rem(20px);
  font-size: 35px;
  color: $black;
  @include mobile {
    text-align: center;
  }
}

.about__desc {
  @include fira();
  margin-bottom: rem(50px);
  p {
    margin-top: 0;
    margin-bottom: rem(15px);
    font-size: rem(18px);
    color: $greytext;
  }
  @include laptop {
    overflow: auto;
    max-height: rem(370px);
  }
  @include tablet {
    max-height: rem(430px);
  }
  @include mobile {
    overflow: hidden;
    max-height: none;
  }
}

.about__btn {
  text-align: right;
  @include mobile {
    text-align: center;
  }
}

.btn {
  @include fira(bold);
  display: inline-block;
  padding: rem(8px) rem(15px);
  border: rem(2px) solid $red;
  border-radius: rem(25px);
  text-decoration: none;
  color: $red;
  transition: all .2s;
  &:hover {
    background-color: $red;
    color: $white;
  }
}