.footer {
  background: $black;
  .container {
    @extend %clearfix;
  }
}

.footer__left {
  float: left;
  width: 50%;
  text-align: left;
  @include mobile {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.copyright {
  display: inline-block;
  padding: 15px;
  text-align: left;
  font-size: 14px;
  color: $grey;
  @include mobile {
    text-align: center;
  }
}

.footer__right {
  float: right;
  width: 50%;
  text-align: right;
  font-size: 0;
  @include mobile {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.socials {
  display: inline-block;
  padding: 10px 0;
  @extend %clearfix;
}

.socials__item {
  display: inline-block;
  padding-right: 8px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    .socials__link_tg {
       fill: #1E96C8;
     }
    .socials__link_vk {
      fill: #5181B8;
    }
    .socials__link_tw {
      fill: #52CBFF;
    }
  }
  &:last-child{
    padding-right: 0;
  }
}

.socials__link {
  display: block;
  width: 30px;
  height: 30px;
}

.socials__item-ico {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: $grey;
  transition: fill .5s;
}