.header {
  @extend %clearfix;
  height: rem(80px);
  margin-bottom: rem(25px);
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(#000, .2);
  @include fira(bold);
}

.header__left, .header__right {
  float: left;
  width: 50%;
  height: rem(70px);
  padding-top: rem(10px);
}

.user {
  display: inline-block;
  text-decoration: none;
  color: $black;
  &:hover {
    color: $blue;
  }
}

.user__pic {
  display: inline-block;
  width: rem(60px);
  height: rem(60px);
  overflow: hidden;
  vertical-align: middle;
  border: rem(1px) solid #fff;
  border-radius: 50%;
}

.user__pic-avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.user__username {
  display: inline-block;
  vertical-align: middle;
  font-size: rem(18px);
  margin-left: rem(18px);
  @include fira(regular);
  @include mobile {
    padding-top: 5px;
    width: rem(70px);
  }
}

.header__right {
  text-align: right;
}

.contacts {
  display: inline-block;
  position: relative;
  padding: rem(18px) 0;
  background: url('../../assets/images/decor/dot.png') 0 bottom repeat-x;
  background-position-y: rem(40px);
  cursor: pointer;
  &:hover {
    background: url('../../assets/images/decor/dot-active.png') 0 bottom repeat-x;
    background-position-y: rem(40px);
    .contacts__link {
      color: $red;
    }
    .contacts__dropdown {
      left: 50%;
      opacity: 1;
      @include mobile {
        left: -365%;
      }
    }
  }
  @include mobile {
    padding: 5px 0;
    background: none;
    &:hover {
      background: none;
      .contacts__link-ico {
        fill: $red;
      }
    }
    .contacts__link-ico {
      display: block;
    }
  }
}

.contacts__link {
  display: block;
  font-size: rem(18px);
  text-decoration: none;
  color: $blue;
}

.contacts__link-txt {
  @include mobile {
    display: none;
  }
}

.contacts__link-ico {
  display: none;
  width: 32px;
  height: 32px;
  fill: $blue;
  transition: fill .5s;
}

//----------------------<<dropdown>>----------------------\\
.contacts__dropdown {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 100;
  opacity: 0;
  margin-left: -140%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
  transition: opacity .5s;
  &:before {
    display: block;
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    height: 60px;
    content: "";
  }
  @include tablet {
    margin-left: -160%;
  }
  @include mobile {
    top: 120%;
    margin-left: -75%;
  }
}

.contacts__dropdown-item {
  padding: rem(15px);
  text-align: left;
  border-bottom: 1px solid #dedede;
  &:last-child {
    border-bottom: 0;
  }
  i {
    padding-right: rem(10px);
    color: $blue;
  }
  .fa-phone {
    padding-right: 0;
    padding-left: rem(10px);
  }
}

.contacts__dropdown-link {
  font-size: rem(18px);
  text-decoration: none;
  white-space: nowrap;
  color: $black;
  &:hover {
    color: $blue;
  }
  @include fira(light);
}

.triangle {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: rem(30px);
  border: rem(15px) solid transparent;
  border-top: 0;
  border-bottom-color: #dedede;
  @include tablet {
    margin-left: rem(50px);
  }
  @include mobile {
    margin-left: rem(70px);
  }
  &:after {
    display: block;
    position: absolute;
    top: 1px;
    left: rem(-15px);
    border: rem(15px) solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
    content: "";
  }
}