.wrapper__hello {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(300px);
  margin-bottom: rem(-50px);
  text-align: center;
  border-radius: 10px;
  background: #fff;
}

.main-block__top {
  position: relative;
}

.main-block__pic {
  display: inline-block;
  position: absolute;
  top: rem(-70px);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  overflow: hidden;
  width: rem(140px);
  height: rem(140px);
  border: 1px solid #fff;
  border-radius: 50%;
}

.main-block__pic-avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.main-block__name {
  @include fira(bold);
  padding: 90px 0 20px 0;
  font-size: rem(21px);
  color: $black;
  text-align: center;
}

.main-block__name_width {
  display: inline-block;
  max-width: rem(200px);
}

.main-block__button {
  padding: rem(20px);
  text-align: center;
  border-radius: 0 0 10px 10px;
  background-color: $blue;
}

.main-block__button-a {
  font-size: rem(14px);
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $blue;
  }
}
