<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <div class="copyright"> &copy; LoftSchool Design</div>
        </div>
        <div class="footer__right">
            <ul class="socials">
                <li class="socials__item">
                    <a href="http://t.me/VGMQT" class="socials__link" target="_blank">
                        <svg class="socials__item-ico socials__link_tg">
                            <use xlink:href="assets/img/socials/sprite/socials-sprite.svg#tg"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="http://vk.com/AnotherMirray" class="socials__link" target="_blank">
                        <svg class="socials__item-ico socials__link_vk">
                            <use xlink:href="assets/img/socials/sprite/socials-sprite.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a href="http://twitter.com/VGMQT" class="socials__link" target="_blank">
                        <svg class="socials__item-ico socials__link_tw">
                            <use xlink:href="assets/img/socials/sprite/socials-sprite.svg#tw"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>