<header class="header">
    <div class="container">
        <div class="user">
            <a href="index.html" class="user__link">
                <div class="user__pic">
                    <img src="assets/img/avatar/user__pic-avatar.png" alt="User avatar">
                </div>
                <div class="user__username">Vlad Tepes</div>
            </a>
        </div>
        <div class="header__right">
            <div class="contacts">
                <a href="#" class="contacts__link">
                    <div class="contacts__link-txt">Мои контакты</div>
                    <svg class="contacts__link-ico">
                        <use xlink:href="assets/img/socials/sprite/socials-sprite.svg#phone"></use>
                    </svg>
                </a>
                <ul class="contacts__dropdown">
                    <li class="triangle"></li>
                    <li class="contacts__dropdown-item">
                        <a href="mailto: vg.email.2@gmail.com" class="contacts__dropdown-link"><i class="fas fa-envelope"></i>vg.email.2@gmail.com</a>
                    </li>
                    <li class="contacts__dropdown-item">
                        <a href="tel: +375299653457" class="contacts__dropdown-link"><i class="fas fa-phone fa-flip-horizontal"></i>+375 (29) 965-34-57</a>
                    </li>
                    <li class="contacts__dropdown-item">
                        <a href="https://discordapp.com" class="contacts__dropdown-link" target="_blank"><i class="fab fa-discord"></i>Qotachi #1084</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>