<header class="header">
    <div class="container">
        <div class="user">
            <a href="index.html" class="user__link">
                <div class="user__pic">
                    <img src="assets/img/avatar/user__pic-avatar.png" alt="User avatar">
                </div>
                <span class="user__username">Vlad Tepes</span>
            </a>
        </div>
        <div class="contacts">
            <a href="#" class="contacts__link">
                <div class="contacts__link-txt">Мои контакты</div>
                <svg class="contacts__link-ico">
                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#phone"></use>
                </svg>
            </a>
            <ul class="contacts__dropdown">
                <li class="triangle"></li>
                <li class="contacts__dropdown-item">
                    <a href="mailto: vg.email.2@gmail.com" class="contacts__dropdown-link">
                        <i class="fas fa-envelope"></i>
                        <div>vg.email.2@gmail.com</div>
                    </a>
                </li>
                <li class="contacts__dropdown-item">
                    <a href="tel: +375299653457" class="contacts__dropdown-link">
                        <i class="fas fa-phone fa-flip-horizontal"></i>
                        <div>+375 (29) 965-34-57</div>
                    </a>
                </li>
                <li class="contacts__dropdown-item">
                    <a href="https://discordapp.com" class="contacts__dropdown-link" target="_blank">
                        <i class="fab fa-discord"></i>
                        <div>Qotachi #1084</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>