<!DOCTYPE html>
<html lang="ru-RU">
include includes/head
<body>
<div class="wrapper">
    <div class="main-content">
        include includes/header
        <div class="content">
            <div class="container">
                <div class="blog-page-wrapper">
                    include includes/sidebar
                    <main class="page-content">
                        <div class="blog">
                            <div class="blog-article">
                                <div class="blog-article__head">
                                    <div class="blog__title">Blog Title</div>
                                    <div class="blog__subtitle">
                                        <div class="article-category">Movies</div>
                                        <div class="article-date">May 1, 2018</div>
                                    </div>
                                </div>
                                <div class="blog__desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.
                                        |   Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>.
                                        |   Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?
                                        |   <b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit. Ab
                                        |   exercitationem ipsa
                                        |   quis reiciendis, <i>repellat voluptates?</i> Ad doloremque quo tenetur velit!
                                    </p>
                                    <ul>Lorem ipsum:
                                        <li>lorem</li>
                                        <li>Lorem ipsum dolor.</li>
                                        <li>Lorem ipsum.</li>
                                        <li>Lorem ipsum dolor sit amet.</li>
                                        <li>lorem</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.</p>
                                    <h1>LOREM</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?
                                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab exercitationem ipsa
                                        |   quis reiciendis, repellat voluptates? Ad doloremque quo tenetur velit!</p>
                                    <blockquote>"Техническая сторона оформления цитаты (знаки препинания, изменения
                                        |   шрифта, отступ и тому подобное) законодательно не регламентирована. Объём,
                                        |   «оправданный целью цитирования», определяет сам цитирующий, руководствуясь
                                        |   здравым смыслом; миф о том, что до 30 % объёма можно цитировать «не глядя»,
                                        |   является не более, чем мифом." — Wikipedia
                                    </blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.
                                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?</p>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper gallery">
                                            <a class="swiper-slide" href="assets/img/gallery/12.jpg">
                                                <img src="assets/img/gallery/12.jpg" alt="Gallery image">
                                            </a>
                                            <a class="swiper-slide" href="assets/img/portfolio/carbonara.jpg">
                                                <img src="assets/img/portfolio/carbonara.jpg" alt="Gallery image">
                                            </a>
                                            <a class="swiper-slide" href="assets/img/gallery/pr.png">
                                                <img src="assets/img/gallery/pr.png" alt="Gallery image">
                                            </a>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                    <small>Описание слайдера-галереи в одну или несколько строк. Описание
                                        |   слайдера-галереи в одну или несколько строк. Описание слайдера-галереи в одну
                                        |   или несколько строк. Описание слайдера-галереи в одну или несколько строк.
                                        |   Описание слайдера-галереи в одну или несколько строк.
                                    </small>
                                    <h2>LOREM</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab exercitationem ipsa
                                        |   quis reiciendis, repellat voluptates? Ad doloremque quo tenetur velit!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.</p>
                                    <div class="solo-pic">
                                        <a href="assets/img/gallery/gal.jpg">
                                            <img src="assets/img/gallery/gal.jpg" alt="Gallery image">
                                        </a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?</p>
                                    <h3>LOREM</h3>
                                    <iframe src="https://www.youtube.com/embed/HzfABIvLiqE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <small>Описание видео с ютюба в одну строку</small>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab exercitationem ipsa
                                        |   quis reiciendis, repellat voluptates? Ad doloremque quo tenetur velit!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.
                                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?
                                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab exercitationem ipsa
                                        |   quis reiciendis, repellat voluptates? Ad doloremque quo tenetur velit!</p>
                                    <iframe src="//coub.com/embed/17hpg6?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen frameborder="0" allow="autoplay"></iframe>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus ea
                                        |   eos iste nam nisi voluptate voluptatibus? Similique, veniam voluptatum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta eum
                                        |   incidunt, nam optio perspiciatis praesentium qui quo recusandae sint?
                                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab exercitationem ipsa
                                        |   quis reiciendis, repellat voluptates? Ad doloremque quo tenetur velit!</p>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/article.min.js -->
<script src="js/ugly/swiper.min.js"></script>
<script src="js/ugly/lightgallery.min.js"></script>
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->
</body>
</html>