<!DOCTYPE html>
<html lang="ru-RU">
include includes/head
<body>
<div class="wrapper">
    <div class="main-content">
        include includes/header
        <section class="section">
            <div class="container">
                include includes/sidebar
                <main class="page-content">
                    <div class="blog">
                        <ul class="blog__acco">
                            <li class="blog__acco-item">
                                <div class="blog__acco-link">
                                    <h3 class="title">Обо мне</h3>
                                </div>
                                <div class="blog__acco-desc">
                                    <div class="blog__acco-desc-content">
                                        <div class="blog__acco-desc-p">
                                            <p>All-time junior front-end разработчик, активно изучающий всеразличные методы и технологии разработки.</p>
                                            <p>Увлекаюсь видеоиграми, обожаю просмотр и детальный разбор фильмов и сериалов.</p>
                                        </div>
                                        <div class="blog__acco-btn">
                                            <a href="#" class="btn">
                                                <span>
                                                    <i class="fas fa-download"></i>
                                                </span>
                                                <span>Скачать резюме</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="blog__list">
                            <li class="blog__item">
                                <a href="blog-article.html" class="blog__link">
                                    <div class="blog__head">
                                        <div class="title">Мысли о вечном</div>
                                        <div class="blog__subtitle">
                                            <div class="article-category">Movies</div>
                                            <div class="article-date">May 1, 2018</div>
                                        </div>
                                    </div>
                                    <div class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |   elit. Aliquid cum eaque fugiat, illum modi non numquam quasi quisquam rem
                                        |   suscipit? Eos ipsam minus tenetur vero.
                                    </div>
                                </a>
                            </li>
                            <li class="blog__item">
                                <a href="blog-article.html" class="blog__link">
                                    <div class="blog__head">
                                        <div class="title">Франшиза Marvel</div>
                                        <div class="blog__subtitle">
                                            <div class="article-category">Movies</div>
                                            <div class="article-date">May 1, 2018</div>
                                        </div>
                                    </div>
                                    <div class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |   elit. Aliquid cum eaque fugiat, illum modi non numquam quasi quisquam rem
                                        |   suscipit? Eos ipsam minus tenetur vero.
                                    </div>
                                </a>
                            </li>
                            <li class="blog__item">
                                <a href="blog-article.html" class="blog__link">
                                    <div class="blog__head">
                                        <div class="title">Мысли о вечном</div>
                                        <div class="blog__subtitle">
                                            <div class="article-category">Movies</div>
                                            <div class="article-date">May 1, 2018</div>
                                        </div>
                                    </div>
                                    <div class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |   elit. Aliquid cum eaque fugiat, illum modi non numquam quasi quisquam rem
                                        |   suscipit? Eos ipsam minus tenetur vero.
                                    </div>
                                </a>
                            </li>
                            <li class="blog__item">
                                <a href="blog-article.html" class="blog__link">
                                    <div class="blog__head">
                                        <div class="title">Франшиза Marvel</div>
                                        <div class="blog__subtitle">
                                            <div class="article-category">Movies</div>
                                            <div class="article-date">May 1, 2018</div>
                                        </div>
                                    </div>
                                    <div class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        |   elit. Aliquid cum eaque fugiat, illum modi non numquam quasi quisquam rem
                                        |   suscipit? Eos ipsam minus tenetur vero.
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="blog__pagination">
                            <li class="pagination__item">
                                <a href="#">f</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">1</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">2</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">3</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">4</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">5</a>
                            </li>
                            <li class="pagination__item">
                                <a href="#">l</a>
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
        </section>
    </div>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->
</body>
</html>