<!DOCTYPE html>
<html lang="ru-RU">
include includes/head
<body>
<div class="wrapper">
    <div class="main-content">
        include includes/header
        <div class="content">
            <div class="container">
                include includes/sidebar
                <main class="page-content">
                    <div class="career">
                        <div class="career__left">
                            <h1 class="title">Карьерный путь</h1>
                            <div class="career__pic">
                                <div class="preloader"></div>
                                <img class="career__pic-img" src="assets/img/avatar/career__pic-img.jpg" alt="Tumble-weed">
                            </div>
                        </div>
                        <div class="career__right">
                            <ul class="career__list">
                                <li class="career__item">
                                    <a href="assets/img/career/freelance.jpg" class="block__link">
                                        <div class="career__block">
                                            <div class="career__title">
                                                <span>Фриланс</span>
                                            </div>
                                            <div class="career__occ">
                                                <span>Front-end разработчик</span>
                                            </div>
                                            <div class="career__date">
                                                <span>Март 2018 - по настоящее время</span>
                                            </div>
                                            <div class="career__year">
                                                <span>2018</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="career__item">
                                    <a href="assets/img/career/85.png" class="block__link">
                                        <div class="career__block">
                                            <div class="career__title">85 бригада связи (ВС РБ)</div>
                                            <div class="career__occ">Старший линейный надсмотрщик ЛКО</div>
                                            <div class="career__date">Май 2016 - Ноябрь 2017</div>
                                            <div class="career__year">2016</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="career__item">
                                    <a href="assets/img/career/auto.jpg" class="block__link">
                                        <div class="career__block">
                                            <div class="career__title">
                                                <span>Бобруйский государственный автотранспортный колледж</span>
                                            </div>
                                            <div class="career__occ">
                                                <span>Автомеханик</span>
                                            </div>
                                            <div class="career__date">
                                                <span>Сентябрь 2014 - Декабрь 2015</span>
                                            </div>
                                            <div class="career__year">
                                                <span>2014</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->
</body>
</html>