<!DOCTYPE html>
<html lang="ru-RU">
include includes/head
<body>
<div class="wrapper">
    <div class="main-content">
        include includes/header
        <section class="section">
            <div class="container">
                include includes/sidebar
                <main class="page-content">
                    <div class="career">
                        <h1 class="title">Карьерный путь</h1>
                        <div class="career__content">
                            <div class="career__pic">
                                <div class="preloader"></div>
                                <img id="careerIll" src="assets/img/avatar/career__pic-img.jpg" alt="Illustration">
                            </div>
                            <ul class="career__list">
                                <li class="career__item">
                                    <a href="assets/img/career/freelance.jpg" class="career__link">
                                        <div class="career__title">Self-study</div>
                                        <div class="career__occ">Front-end разработчик</div>
                                        <div class="career__date">Март 2018 - по настоящее время</div>
                                        <div class="career__year">2018</div>
                                    </a>
                                </li>
                                <li class="career__item">
                                    <a href="assets/img/career/85.png" class="career__link">
                                        <div class="career__title">85 бригада связи (ВС РБ)</div>
                                        <div class="career__occ">Старший линейный надсмотрщик ЛКО</div>
                                        <div class="career__date">Май 2016 - Ноябрь 2017</div>
                                        <div class="career__year">2016</div>
                                    </a>
                                </li>
                                <li class="career__item">
                                    <a href="assets/img/career/auto.jpg" class="career__link">
                                        <div class="career__title">Бобруйский государственный автотранспортный колледж</div>
                                        <div class="career__occ">Автомеханик</div>
                                        <div class="career__date">Сентябрь 2014 - Декабрь 2015</div>
                                        <div class="career__year">2014</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </section>
    </div>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->
</body>
</html>