<!DOCTYPE html>
<html lang="ru-RU">
include includes/head
<body>
<div class="wrapper">
    <main class="auth">
        <div class="auth__head">
            <div class="auth__pic">
                <img src="assets/img/avatar/hello__pic-avatar.png" alt="User avatar">
            </div>
            <div class="auth__username">Vlad Tepes</div>
        </div>
        <div class="auth__btn">
            <a href="blog.html" class="btn">
                <span>Перейти на сайт</span>
            </a>
        </div>
    </main>
</div>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/ugly/main.min.js"></script>
<!-- endbuild -->
</body>
</html>