//vars
$white: #f6f6f6;
$grey: #727272;
$greytext: #5a5a5a;
$black: #414141;
$red: #e85f61;
$blue: #33c1e3;

//layout
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/adjustment";
@import "fontawesome/fontawesome";
@import "fontawesome/fa-solid";
@import "fontawesome/fa-brands";

//plugins
@import "plugins/lightgallery";
@import "plugins/lg-fb-comment-box";
@import "plugins/lg-transitions";
@import "plugins/swiper";

//plugins resets
@import "_misc/resets";

//styles
@import "sections/header";
@import "sections/footer";
@import "sections/content";
@import "sections/hello";
@import "sections/career";
@import "sections/portfolio";
@import "sections/blog";
@import "sections/blog-article";